production:
  adapter: mysql2
  encoding: utf8
  database: {{ mysql_database }}
  username: {{ mysql_user }}
  password: {{ mysql_password }}
  {% if local_database %}
  host: localhost
  {% else %}
  host: {{ mysql_host }}
  {% endif %}
